<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.tqmall.saint.dao.customer.${FMT.XyzAbc($table)}Dao">

    <resultMap id = "BaseResultMap" type = "${FMT.XyzAbc($table)}"
               extends = "COMMON.BASE_RESULT_MAP">
        #foreach($item in $values)#if($velocityCount > 6)
        <result column = "${item.name}" property = "${FMT.xyzAbc(${item.name})}" />
        #end#end
    </resultMap>

    <sql id = "BaseColumnList">
        <include refid = "COMMON.BASE_COLUMN_LIST" />
        #foreach($item in $values)#if($velocityCount > 6)
        ${item.name} as ${FMT.xyzAbc(${item.name})}#if($velocityCount != $values.size()),#end

        #end#end
    </sql>

    <sql id = "BaseWhereClause">
        <where>
            <trim prefixOverrides = "and">
                <include refid = "COMMON.BASE_WHERE_CLAUSE" />
                #foreach($item in $values)#if($velocityCount > 6)
                <if test = "${FMT.xyzAbc(${item.name})} != null">
                    and ${item.name} = #{${FMT.xyzAbc(${item.name})}}
                </if>
                #end#end
            </trim>
        </where>
    </sql>

    <sql id = "BaseUpdateSet">
        <set>
            <include refid = "COMMON.BASE_UPDATE_SET" />
            #foreach($item in $values)#if($velocityCount > 6)
            <if test = "${FMT.xyzAbc(${item.name})} != null">
            ${item.name} = #{${FMT.xyzAbc(${item.name})}}#if($velocityCount != $values.size()),#end
            </if>
            #end#end
        </set>
    </sql>

    <!-- 查询总数 -->
    <select id = "selectCount" resultType = "java.lang.Integer">
        select count(id)
        from ${table}
        <include refid = "BaseWhereClause" />
    </select>

    <!-- 查询 -->
    <select id = "select" resultMap = "BaseResultMap">
        select
        <include refid = "BaseColumnList" />
        from ${table}
        <include refid = "BaseWhereClause" />
        <include refid = "COMMON.ORDER_BY" />
        <include refid = "COMMON.LIMIT" />
    </select>

    <!-- 根据ID查询 -->
    <select id = "selectById" resultMap = "BaseResultMap">
        select
        <include refid = "BaseColumnList" />
        from ${table}
        where id = #{id}
    </select>

    <!-- 根据IDS批量删除 -->
    <update id = "deleteByIds">
        update ${table}
        set is_deleted='Y'
        where id in
        (
        <foreach collection = "array" index = "index" item = "tag" separator = ",">
            #{tag}
        </foreach>
        )
    </update>

    <!-- 根据ID删除 -->
    <update id = "deleteById">
        update ${table}
        set is_deleted='Y'
        where id=#{id}
    </update>

    <!-- 删除 -->
    <delete id = "delete">
        update ${table}
        set is_deleted='Y'
        <include refid = "BaseWhereClause" />
    </delete>

    <!-- 添加   -->
    <insert id = "insert" useGeneratedKeys = "true" keyProperty = "id">
        insert into ${table} (
        <include refid = "COMMON.BASE_INSERT_COLUMN" />
        #foreach($item in $values)#if($velocityCount > 6)
        ${item.name}#if($velocityCount != $values.size()),#end

        #end#end
        )
        values (
        <include refid = "COMMON.BASE_INSERT_VALUE" />
        #foreach($item in $values)#if($velocityCount > 6)
        #{${FMT.xyzAbc(${item.name})}}#if($velocityCount != $values.size()),#end

        #end#end
        )
    </insert>

    <!-- 通过ID更新 -->
    <update id = "updateById">
        update ${table}
        <include refid = "BaseUpdateSet" />
        where id = #{id}
    </update>

</mapper> 
