cal-values.conf
target
*~
bin
*.idea
*.iml
*.eml
.project
.settings
.classpath
/target
.springBeans
.DS_Store
*/test-output/**
*/target/**
pom.xml
*.log
legend.ipr
legend.iws
antx.properties
rebel.xml
